    <header>
      <nav class="nav">
        <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In!', new_user_session_path, class: "signin" %></li>
      <% end %>
        <li><%= link_to "Calendar", calendars_path %></li>
        <li><%= link_to "Home", root_path, class: "current" %></li>
        </ul>
      </nav>
    </header>

<h1>GROUP PAGE</h1>